.back{
    background-color: aqua;
    height: 80px;
    margin-top: -20px;
}
.link{
    float: left;
    list-style: none;
    margin-right: 28px;
    background-color: cornsilk;
    padding: 15px 50px;
    color: black;
    margin-top: 20px;
}
.link:hover{
    background-color: burlywood;
    color: white;
}
.ahref{
    text-decoration: none;
    color: black;
}